<h1>The Book Lender</h1>

<img src="http://www.bradleysbookoutlet.com/wp-content/uploads/2013/06/bradleys-book-outlet-books-only-logo.png" alt="books" style="width:304px;height:228px;">



<ol>
    {{#each books}}
    <li>
        <h1><a href="/books/{{this.id}}">{{this.book_title}}</a></h1>
        <h3>{{this.catergory}}</h3>
        <p>{{this.fullName}}</p>
    </li>
    {{/each}}
</ol>


<a href="/books/new" class="btn btn-default">Create a New Book</a>
<a href="/users" class="btn btn-default">To User Page</a>
