<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<img src="http://www.bradleysbookoutlet.com/wp-content/uploads/2013/06/bradleys-book-outlet-books-only-logo.png" alt="books" style="width:304px;height:228px;">

<!-- /users -->
<!-- /books -->
