body {
  padding: 50px;
  font: 20px 'Poppins', sans-serif;
  text-align: left;
}

a {
  color: #000;
}

a:hover {
  color: #b39800;
}


ol {
  list-style-type: none;
  padding: 20px 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

ol li {
  padding-bottom: 15px;
}

img {
  margin-top: 15px;
  float: right;

}

.btn.btn-primary, .btn.btn-danger {
  margin-top: 20px;
}

.btn.btn-default {
  margin-top: 50px;
}
