<h1>USER PAGE:</h1>
<img src="https://www.tes.com/sites/default/files/styles/news_article_hero/public/eng_1_post.png?itok=BgalO4I9" alt="books">


<ol>
    {{#each users}}
    <li>
        <h1><a href="/users/{{this.id}}">{{this.fullName}}</a></h1>

    </li>
    {{/each}}
</ol>

<a href="/users/new" class="btn btn-default">Create a User</a>
<a href="/books" class="btn btn-default">To Books Page</a>

